:root{
    --bg-color: #e3e5f1;
    --navbar-color: #141e5a;
    --text-color: #383838;
    --btn-color: #3c3fd8;
    --text-link: #ddd;
    --font: Arial, Helvetica, sans-serif;
    --card-color: #ffffffec;
}